/* code-editor.css - CodeMirror theme overrides */

.CodeMirror {
  flex: 1;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  background-color: #1e1e1e !important;
  color: #f0f0f0 !important;
  padding-right: 16px;
}

.CodeMirror-gutters {
  background-color: #2f2f2f !important;
  color: #bbb !important;
  border-right: 2px solid #444;
  padding-right: 5px;
  text-align: right;
  margin-left: 0 !important;
}
